*.aes
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.pdf
*.xcp
*.out
*.synctex
*.gz


/code/vacarme/target
/code/psk-no-early-enc-vacarme/target
/notes/build
/latex/build
/paper/build
/.vscode
!pdfs/*.pdf
!ModelSubmissionCCS/Kyber/*.pdf
!ModelSubmissionCCS/OnepassAKE/*.pdf
!ModelSubmissionCCS/Sigma_Zero/*.pdf
.DS_Store
__pycache__
